@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}
body #chatbot-page {
    background-image: url("../public/assets/background.jpg");
    background-size: cover;
    position: relative;
}
